---
import PhpIcon from "../components/Icons/PhpIcon.astro";
import HtmlIcon from "../components/Icons/HtmlIcon.astro";
import JavaScriptIcon from "../components/Icons/JavaScriptIcon.astro";
import CssIcon from "./Icons/CssIcon.astro";
import MysqlIcon from "./Icons/MysqlIcon.astro";
import ReactIcon from "./Icons/ReactIcon.astro";
import ExpoIcon from "./Icons/ExpoIcon.astro";
import PostmanIcon from "./Icons/PostmanIcon.astro";

const TAGS = {
  Php: {
    name: "PHP",
    class:
      "bg-gradient-to-r from-indigo-400 via-purple-500 to-indigo-700 text-white",
    icon: PhpIcon,
  },
  Html: {
    name: "HTML",
    class: "bg-gradient-to-r from-orange-400 to-red-600 text-white",
    icon: HtmlIcon,
  },
  JavaScript: {
    name: "JavaScript",
    class: "bg-gradient-to-r from-gray-400 to-gray-600 text-white",
    icon: JavaScriptIcon,
  },
  css: {
    name: "CSS",
    class: "bg-gradient-to-r from-blue-400 via-blue-500 to-blue-700 text-white",
    icon: CssIcon,
  },
  Mysql: {
    name: "MySQL",
    class: "bg-gradient-to-r from-cyan-500 to-blue-800 text-white",
    icon: MysqlIcon,
  },
  react: {
    name: "React",
    class: "bg-gradient-to-r from-blue-400 via-cyan-500 to-teal-400 text-white",
    icon: ReactIcon,
  },
  Expo: {
    name: "Expo",
    class:
      "bg-gradient-to-r from-purple-500 via-indigo-600 to-indigo-800 text-white",
    icon: ExpoIcon,
  },
  Postman: {
    name: "Postman",
    class:
      "bg-gradient-to-r from-orange-400 via-orange-500 to-red-500 text-white",
    icon: PostmanIcon,
  },
};

const PROJECTS = [
  {
    title: "Dragon Ball Z API",
    description:
      "Aute pariatur mollit duis proident anim mollit ea est reprehenderit sint proident excepteur aliqua.",
    link: "https://web.dragonball-api.com/",
    github: "https://github.com/eiberham/dragonball",
    image: "/public/images/projects/858shots_so.png",
    tags: [TAGS.Php, TAGS.Html],
  },
  {
    title: "Gran Bazar",
    description:
      "Desarrollé esta aplicación web como parte de un proyecto integrador universitario, utilizando tecnologías como PHP, HTML, CSS, JavaScript y MySQL para el desarrollo tanto del frontend como del backend, sin el uso de frameworks. Además, diseñé y configuré la base de datos, incorporando procedimientos almacenados, funciones y vistas para la simulación y gestión de los datos. La aplicación incluye funcionalidades clave como el registro y acceso de usuarios, un carrito de compras para la visualización de productos seleccionados, y la opción de cerrar sesión de manera segura",
    link: "https://web.dragonball-api.com/",
    github: "https://github.com/eiberham/dragonball",
    image:
      "https://raw.githubusercontent.com/Nefta11/my-portfolio/main/public/images/projects/GranBazar.png",
    tags: [TAGS.Php, TAGS.Html, TAGS.JavaScript, TAGS.css, TAGS.Mysql],
  },
  {
    title: "Ultra Trail(Modulo Boletos)",
    description:
      "D",
    link: "https://web.dragonball-api.com/",
    github: "https://github.com/eiberham/dragonball",
    image: "https://raw.githubusercontent.com/Nefta11/my-portfolio/main/public/images/projects/UltraTrail.png",
    tags: [TAGS.react, TAGS.Expo, TAGS.Postman],
  },
];
---

{
  PROJECTS.map(({ image, title, description, tags }) => (
    <article>
      <h3 class="text-2xl font-semibold text-violet-500 mb-2">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row mb-2">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-2 px-2`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        class="rounded shadow-2xl shadow-white/10"
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
    </article>
  ))
}
