---
const PROJECTS = [
    { title:"Dragpn Ball Z API",
    description:"Aute pariatur mollit duis proident anim mollit ea est reprehenderit sint proident excepteur aliqua.",
    link:"https://web.dragonball-api.com/",
    github:"https://github.com/eiberham/dragonball",
    image:"/public/images/projects/858shots_so.png",
    tags:["HTML","CSS","JavaScript"]
    }
]
---

{
    PROJECTS.map(({image, title, description, tags})=>(
        <article>
            <h3 class="text-2xl font-semibold text-violet-500 mb-2">{title}</h3>
            <p class="text-lg mb-4 text-pretty">{description}</p>
            <ul>
                {tags.map((tag) => (
            <li>{tag}</li>
            ))}
            </ul>
            <img 
            class="rounded shadow-2xl shadow-white/10"
            src={image} 
            alt={`Captura de pantalla del proyecto ${image}`} />
        </article>
    ))
}

